<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaoshu.dao.StudentDao">

    <!--按照查询嵌套处理-->
    <select id="getStudentList" resultMap="userScore">
        select * from student
    </select>
    <resultMap id="userScore" type="student">
        <result column="student_id" property="student_id"></result>
        <result column="student_name" property="student_name"></result>
        <!--复杂的属性，单独处理，对象association, 集合collection-->
        <association column="teacher_id"  property="teacher" javaType="teacher" select="getTeacherById"></association>
    </resultMap>
<!--
    <select id="getTeacherById" resultType="teacher">
        select * from teacher where teacher_id = #{id}
    </select>
-->


    <!--按照结果嵌套处理-->
    <select id="getStudentList2" resultMap="userScore2">
        select s.student_id sid, s.student_name sname, t.teacher_name tname from student s , teacher t
        where s.teacher_id = t.teacher_id
    </select>
    <resultMap id="userScore2" type="student">
        <result column="sid" property="student_id"></result>
        <result column="sname" property="student_name"></result>
        <!--复杂的属性，单独处理，对象association, 集合collection-->
        <association  property="teacher" javaType="teacher">
            <result property="teacher_name" column="tname"></result>
        </association>
    </resultMap>

    <!--按照结果嵌套处理-->
    <select id="getTeacherById" resultMap="teacherStudent">
        SELECT
            s.student_id sid,
            s.student_name sname,
            t.teacher_name tid,
            t.teacher_name tname
        FROM
            student s,
            teacher t
        WHERE
            s.teacher_id = t.teacher_id AND  t.teacher_id = #{id}
    </select>
    <resultMap id="teacherStudent" type="teacher">
        <result column="tid" property="teacher_id"></result>
        <result column="tname" property="teacher_name"></result>
        <!--复杂的属性，单独处理，对象association, 集合collection-->
        <!--javaType指定属性的类型
        集合中的泛型信息，我们是用ofTyoe-->
        <collection property="studentList" ofType="student">
            <result property="student_id" column="sid"/>
            <result property="student_name" column="sname"/>
            <result property="teacher_id" column="tid"/>
        </collection>
    </resultMap>

    <!--按照查询嵌套处理-->
    <select id="getTeacherById2" resultMap="teacherStudent2">
        SELECT * FROM teacher t  WHERE t.teacher_id = #{id}
    </select>
    <resultMap id="teacherStudent2" type="teacher">
        <!--复杂的属性，单独处理，对象association, 集合collection-->
        <!--javaType指定属性的类型
        集合中的泛型信息，我们是用ofTyoe-->
        <collection property="studentList" javaType="ArrayList" ofType="student" select="getStudentById2" column="teacher_id">
        </collection>
    </resultMap>
    <select id="getStudentById2" resultType="student">
        select * from student where teacher_id = #{tid}
    </select>


</mapper>